:root {
    --main_red: #ff2a2b;
    --main_yellow: #fe3bd4;
    --verysoft_yellow: #fef5f5;
    --main_dark: #2e2e2e;

    --fz_sm: 14px;
    --fz_md: 16px;
    --fz_lg: 18px;
    --fz_xxlg: 24px;
}

html {
    font-family: 'Inter', sans-serif;
}

/*################*/
/*General Classes*/
/*################*/

.container {
    width: 80%;
    max-width: 1200px;

    margin: 0px auto;
}

.btn {
    border: 1px transparent;
    background-color: white;
    padding: 0.8em 1.4em;
    border-radius: 16px;
    text-transform: uppercase;
    cursor: pointer;

    display: inline-block;

    transition: all 0.3s ease;
}

.btn--primary:hover {
    background: var(--main_yellow);
    color: white;
}

.btn--secondary {
    border: 1px solid var(--main_red);
    background: var(--main_red);
    color: white;

    
}

.btn--secondary--transparent {
    background: transparent;
    border: 1px solid var(--main_red);
    color: var(--main_red);
}

.subtitle {
    font-size: var(--fz_lg);
    text-transform: uppercase;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px var(--main_dark);
}

.page-section {
    margin: 24px 0;
}

/*Navbar*/
nav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
    border-bottom: 1px solid lightgrey;
}

.nav__navigation {
    display: flex;
    gap: 2px;
    list-style: none;
    height: 100%;
    align-items: center;
    padding: 0;
}

.nav__item {
    width: max-content;
}

.a__navbar {
    text-decoration: none;
    color: var(--main_dark);
}

.nav__logo {
    max-width: 200px;
}

nav .wrap-menu {
    color: var(--main_dark);
    background: none;
    border: none;
    font-size: 24px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

/*#######*/
/*! footer*/
footer {
    background: var(--main_dark);
    font-size: var(--fz_lg);

    padding: 36px 0;
}

.footer-subtitle {
    color: white;
}

.footer__container {

    display: flex;
    flex-direction: column; 
    gap: 16px;
}

.footer__info-social {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.footer__info {
    align-items: center;
     width: max-content;
    text-align: center;
}

.footer__logo {
    display: flex;
    justify-content: space-around; 
    margin-left: 180px;
    width: 100%;
}

.footer__list {
    color: white;
    list-style: none;
    padding: 0px;
}

.social__list {
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}

.social__item i {
    color: white;
    font-size: var(--fz_xxlg);
}

.footer__disclaimer {
    text-align: center;
    margin: 0px auto;
    color: white;
    font-weight: bold;
}

.footerAuthors {
    text-align: center;
    margin: 0px auto;
    color: white;
    margin-top: 12px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2.2;
}

.footerAuthors a {
    color: white;
    background: var(--main_yellow);
    padding: 0.4em 0.6em;
    border-radius: 16px;
}

/*##############################*/
/*Modified general classes*/
/*##############################*/
.btn--black {
    background-color: var(--main_yellow);
    color: white;
}

.subtitle--providers {
    color: var(--main_dark);
}

/*#####################################*/
/*START index.html*/
/*#####################################*/

/*##############################*/
/*Hero container*/

.hero {
    height: calc(100vh - 60px); 
    background: url('../img/bg_desktop.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;

    padding-left: 1.2vw;
}

.hero__content {
    width: 50%; 
    display: flex;
    flex-direction: column;

    align-items: center; 
    text-align: center; 

    font-size: 2vw; 
}

.hero__logo {
    width: 80%;
}

.hero__text {
    font-size: 1em; 
    font-weight: 300;
}

.btn--hero {
    font-size: 0.6em; 
}

/*#####################################*/
/* Categories sections*/

.catContainer {
    margin-top: 40px;
}

.bannerCategories {
    background-color: var(--main_yellow);
    height: 25vh;
    text-align: center;
    border-radius: 16px;
}

.subtitle--cat {
    padding-top: 5vh;
}

.subtitle {
    color: white;
    font-size: var(--fz_md);
}

.circlesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    margin-top: -12vh;
    margin-bottom: 32px;
}

.circle {
    width: 240px;
}

.imgRounded {
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 16px;
}

.descripCateg {
    text-align: center;
    font-size: var(--fz_md);
}

.a__catContainer {
    text-decoration: none;
    color: var(--main_dark);
}

/*#####################################*/
/*END index.html*/
/*#####################################*/

/*#####################################*/
/*START categoryX.html*/
/*#####################################*/

/*#####################################*/
/*providers section*/
.providers__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

.providers__provider-logo {
    width: 20vw;
    min-width: 180px;

    filter: grayscale(100%); 
    transition: all 0.3s ease;
}

.providers__provider-logo:hover {
   
    filter: grayscale(0);
    transform: translate(1%, -1%);
    transform: scale(1.05);
}

/*#####################################*/
/*Categories product*/

.products__container {
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;

    margin-top: -12vh; }

.subtitle--products {
    padding-top: 5vh;
}


.products__header {
    background-color: var(--main_yellow);
    height: 25vh;
    border-radius: 16px;
}

.product-card {
    width: 18vw; 
    min-width: 220px; 
    background: rgb(241, 241, 241);
    border: 1px solid rgb(223, 223, 223);
    border-radius: 16px;
    overflow: hidden;

    transition: all 0.3s ease;
}

.product-card:hover {
    box-shadow: 4px 16px 36px rgb(204, 204, 204);
    transform: translate(1%, -1%);
}

.product-card__image-container {
    xbackground-color: #ffffff;
    opacity: 0.8;
    background-image: radial-gradient(#ff2a2b 1.1500000000000001px, #ffffff 1.1500000000000001px);
    background-size: 23px 23px;

    position: relative; /*Position the discount on top right corner*/
}

.product-card__image-container img {
    width: 100%;
}

.product__disscount {
    margin: 0px;

    display: inline-block;
    background: var(--main_red);
    border-radius: 8px;
    padding: 0.4em 0.6em;

    position: absolute;
    top: 8px;
    right: 8px;
}

.product-card__body {
    padding: 16px;
}

.product-card__name {
    font-size: var(--fz_lg);
    text-transform: initial;
    font-weight: bold;
    text-transform: uppercase;
}

.product-card__price {
    font-size: var(--fz_lg);
    text-transform: uppercase;
    margin: 0px 0px 12px 0px; 
}

.product-card__price span {
    font-weight: bolder;
}

.product-card__buttons {
    display: flex;
    justify-content: space-between;

}

/*#####################################*/
/*END categoryX.html*/
/*#####################################*/

/*###############*/
/*Media queries*/
/*###############*/

@media (max-width: 768px) {
    .btn {
        font-size: var(--fz_sm);
    }

    /*Hero section*/
    .hero {
        background: url('../img/bg_mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        display: block; /*Se quita el flex*/

        padding-top: 4vh;
    }

    .hero__content {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }

    .hero__logo {
        width: 100%;
    }

    .hero__text {
        font-size: 6vw;
    }

    .btn--hero {
        font-size: 4vw;
        width: max-content;
    }

    /* NAVBAR */
    .btn--primary {
        background: #ffd381;
        color: white;
        width: fit-content;
    }

    .nav__navigation {
        flex-direction: column;
        align-items: center;
        margin: 0;
        gap: 4px;
        background-color: var(--main_yellow);
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height: calc(100% - 60px);
        overflow-y: auto;

        left: 100%;
        transition: left 0.3s;

        z-index: 1;
    }

    .nav__item {
        width: 80vw;
        text-align: center;
    }

    nav .wrap-menu {
        display: block;
        background: var(--main_yellow);
        border-radius: 22px;
        height: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav__navigation_visible {
        left: 0;
    }

    .body__fixed {
        position: fixed;
    }

    /* Categories */

    /*! footer */
    footer {
        font-size: var(--fz_sm);
    }

    .footer__info-social {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 300px) {

    :root {
        --fz_sm: 10px;
        --fz_md: 12px;
        --fz_lg: 14px;
        --fz_xxlg: 20px;
    }

    .nav__logo {
        max-width: 40vw;
    }

    nav .wrap-menu {
        font-size: var(--fz_lg);
        padding: 0em 1.2em;
    }

    .circlesContainer {
        gap: 16px;
    }   
        

    .products__container {
        display: flex;
        justify-content: center;
        gap: 16px;
        flex-wrap: wrap;
    
        margin-top: -12vh; 
    }    
    .subtitle--products {
        padding-top: 5vh;
    }
    
    .products__header {
        background-color: var(--main_red);
        height: 25vh;
        border-radius: 16px;
    }
    
    .product-card {
        width: 90%;
        min-width: auto;
    }
    
    .product-card__body{
        padding: 8px;
    }
    
    
    .product__disscount {
        font-size: var(--fz_lg);
    }
}
/*******************************/
/*********  Banner ad **********/
/*******************************/
@media (max-width: 600px) {
    #banner {
        width: 50%; /* Scale to full width on small screens */
        margin-left: 25%;
        margin-right: 25%; 
      }
    }

@media (min-width: 601px) and (max-width: 900px) {
    #banner {
        width: 30%; /* Scale to 75% width on medium screens */
        margin-left: 25%;
        margin-right: 25%; 
    }
    }

@media (min-width: 901px) {
    #banner {
      
        width: 25%; /* Scale to 50% width on large screens */
        margin-left: 25%;
        margin-right: 25%;  
    }
    }
    #banner img {
      width: 50%;
      height: 50%;
      opacity: 0;
      position: absolute;
      transition: opacity 0.5s ease-in-out;
    }

    #banner img:first-child {
      opacity: 1;
    }
    #bannerblock {
        background: url('../img/bg_mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
        display: block;
        padding-top: 4vh;
    
        box-sizing: border-box; /* Include padding in the total width and height */
    }
    /**********************/
    /*******Search bar*****/
    /**********************/
    @media (max-width: 600px) {
        .search-input
         {
            width: 50%;  
          }
        }
    @media (min-width: 601px) and (max-width: 900px) {
        .search-input {
            width: 50%; 
        }
        }
    @media (min-width: 901px) {
        .search-input {
                  
            width: 75%; 
        }
                }
    #search search_body {
        font-family: Arial, sans-serif;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        background-color: #f4f4f4;
      }
  
      .search-container {
        position: relative;
      }
  
      .search-input {
      
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
  
      .search-button {
        position: absolute;
        
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--main_yellow);
        color: white;
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
      }