/*Navbar*/
nav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: none;
    border-bottom: 1px solid lightgrey;
}

.nav__navigation {
    display: flex;
    gap: 2px;
    list-style: none;
    height: 100%;
    align-items: center;
    padding: 0;
}

.nav__item {
    width: max-content;
}

.a__navbar {
    text-decoration: none;
    color: var(--main_dark);
}

.nav__logo {
    max-width: 200px;
}

nav .wrap-menu {
    color: var(--main_dark);
    background: none;
    border: none;
    font-size: 24px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;
}

/*#######*/
/*! footer*/
footer {
    background: var(--main_dark);
    font-size: var(--fz_lg);

    padding: 36px 0;
}

.footer-subtitle {
    color: white;
}

.footer__container {

    display: flex;
    flex-direction: column; 
    gap: 16px;
}

.footer__info-social {
    display: flex;
    justify-content: space-around; 
    align-items: center;
}

.footer__info {
    align-items: center;
     width: max-content;
    text-align: center;
}

.footer__logo {
    display: flex;
    justify-content: space-around; 
    margin-left: 180px;
    width: 100%;
}

.footer__list {
    color: white;
    list-style: none;
    padding: 0px;
}

.social__list {
    display: flex;
    gap: 16px;
    justify-content: space-evenly;
}

.social__item i {
    color: white;
    font-size: var(--fz_xxlg);
}

.footer__disclaimer {
    text-align: center;
    margin: 0px auto;
    color: white;
    font-weight: bold;
}

.footerAuthors {
    text-align: center;
    margin: 0px auto;
    color: white;
    margin-top: 12px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 2.2;
}

.footerAuthors a {
    color: white;
    background: var(--main_yellow);
    padding: 0.4em 0.6em;
    border-radius: 16px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

.form-label {
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

.form-input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.form-button {
    background-color:#fe3bd4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
@media (max-width: 600px) {
    .search-input
     {
        width: 50%;  
      }
    }
@media (min-width: 601px) and (max-width: 900px) {
    .search-input {
        width: 50%; 
    }
    }
@media (min-width: 901px) {
    .search-input {
              
        width: 75%; 
    }
            }
#search search_body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
  }

  .search-container {
    position: relative;
  }

  .search-input {
  
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .search-button {
    position: absolute;
    
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main_yellow);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
  }